.stats-container,
.button-download-container {
    margin-bottom: 25px;
}

.title-vote-tally {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1rem;
    align-items: start;
}

.charts-content {
    flex-wrap: wrap;
}

.no-votes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: '#f8f9fa';
    color: #6c757d;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 16px;
}

