.forgot-main-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.forgot-image {
    height: auto;
    width: 800px;
}

.forgot-content-left, 
.forgot-content-right {
    margin: 0 30px;
}

.forgot-content-left {
    margin-top: 20px;
}

.login-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-register-container {
    justify-content: center;
    align-items: center;
}

