.login-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/samples/imageBG.jpg') no-repeat center center;
    background-size: cover;
}

.login-form-container {
    width: 100vh;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title-label {
    color: black;
    text-align: center;
    padding: 8px;
    font-weight: 800;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 220px;
    max-height: 220px;
}

.login-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-register-container {
    justify-content: center;
    align-items: center;
}

.login-form-button {
    width: 40vh;
}

.register-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.register-title {
    margin-left: 5px;
}

.form-remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-form-forgot {
    float: right; 
    margin-left: auto; 
}

.alert-container {
    text-align: center;
    padding: 10px;
    margin: 0 0 18px;
}