.register-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url('../assets/samples/imageBG.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.register-main-container::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute; 
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
}

.step-line-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100vh;
    margin-bottom: 20px; 
}

.register-form-container {
    width: 100vh;
    padding: 20px;
}

.register-title-label {
    color: white;
    text-align: center;
    padding: 8px;
    font-weight: 800;
}

.image-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-register-content, 
.register-title-label {
    z-index: 1; 
}

.image-register-container img {
    max-width: 220px;
    max-height: 220px;
}

.input-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
}

.input-grid-container > * {
    flex: 1 1 45%;
}

.register-form-button, 
.next-button-content,
.prev-button-content {
    width: 40vh;
}

.register-voter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menu-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item-label {
    float: right; 
    margin-left: auto; 
}

[title="First Name"],
[title="Last Name"],
[title="Email"],
[title="Date of Birth"],
[title="Address"],
[title="Address"],
[title="Phone Number"],
[title="Gender"],
[title="Password"],
[title="Confirm Password"],
[title="Image"] {
    color: #FFFFFF !important;
}

.ant-steps-item-title {
    color: #FFFFFF !important;
}