.register-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url('../assets/samples/imageBG.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.register-main-container::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute; 
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
}

.step-line-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100vh;
    margin-bottom: 20px;
}

.register-form-container {
    width: 100vh;
    padding: 20px;
    background: rgba(255, 255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border-radius: 8px; */
    z-index: 1; 
    /* height: 490px; */
    overflow: hidden;
}

.register-title-label {
    color: black;
    text-align: center;
    padding: 8px;
    font-weight: 800;
}

.image-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-register-content, 
.register-title-label {
    z-index: 1; 
}

.image-register-container img {
    max-width: 220px;
    max-height: 220px;
}

.first-last-container {
    display: flex;
    flex-flow: row;
    gap: 12px;
    width: 100%;
}

.register-form-button, 
.next-button-content,
.prev-button-content {
    width: 40vh;
}

.register-voter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menu-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item-label {
    float: right; 
    margin-left: auto; 
}

.ant-steps-item-title {
    color: #FFFFFF !important;
}

.terms-agreement-container {
    margin-bottom: 20px;
}