.reset-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/samples/imageBG.jpg') no-repeat center center;
    background-size: cover;
}

.reset-form-container {
    width: 100vh;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.reset-title-label {
    color: black;
    text-align: center;
    padding: 8px;
    font-weight: 600;
}

.reset-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-image-container img {
    max-width: 220px;
    max-height: 220px;
}

.reset-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-container {
    justify-content: center;
    align-items: center;
}

.reset-form-button {
    width: 40vh;
}

.goback-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.reset-title {
    margin-left: 5px;
}

.information-container {
    margin-bottom: 15px;
}